<header class="bg-blue-600 py-3">
  <div class="max-w-4xl mx-auto flex justify-center">
    <h1 class="text-center text-lg font-bold text-white uppercase">Contador de Calorias</h1>
  </div>
</header>

<section class="bg-blue-500 py-20 px-5">

  <form [formGroup]="form" class="max-w-4xl mx-auto">

    <div class="space-y-5 bg-white shadow p-10 rounded-lg">
      
      <!-- Edad -->
      <div class="grid grid-cols-1 gap-3">

        <label for="age" class="font-bold">Edad</label>
        <input 
          formControlName="age" 
          id="age" 
          type="number" 
          class="border border-slate-300 p-2 rounded-lg w-full" 
          (keypress)="verifyInput($event)"
          appShowError
          [control]="form.get('age')"
        />

      </div>

      <!-- Tipo de sistema metrico -->
      <div class="flex gap-3 pt-5 content-center items-center">

        <button 
          class="bg-blue-900 h-10 w-40 text-white rounded-lg" 
          [ngClass]="{'opacity-20': !(imperialMetricSystem)}" 
          (click)="setImperialMetricSystem(true)"
        >Imperial</button>

        <button 
          class="bg-blue-900 h-10 w-40 text-white rounded-lg" 
          [ngClass]="{'opacity-20': (imperialMetricSystem)}" 
          (click)="setImperialMetricSystem(false)"
        >Decimal</button>

      </div>

      <!-- Peso -->
      <div class="grid grid-cols-1 gap-3">

        <label for="weight" class="font-bold">Peso</label>
        <div class="grid">

          <label 
            for="weight" id="typeWeight" 
            class="border border-slate-300 p-2 rounded-lg w-1/5 bg-white"
          >{{form.get('typeWeight')?.value | labelMetrics}}
          </label>
          <input 
            formControlName="weight" 
            id="weight" type="number" 
            class="border border-slate-300 p-2 rounded-lg w-4/5" 
            (keypress)="verifyInput($event)"
            appShowError
            [control]="form.get('weight')"
          />
        </div>
      </div>

      <!-- Altura -->
      <div class="grid grid-cols-1 gap-3">

        <label for="height" class="font-bold">Altura</label>
        <div class="grid">
          
          <label 
            for="height" id="typeHeight" 
            class="border border-slate-300 p-2 rounded-lg w-1/5 bg-white"
          >{{form.get('typeHeight')?.value | labelMetrics}}</label>
          <input 
            formControlName="height" 
            id="height" 
            type="number" 
            class="border border-slate-300 p-2 rounded-lg w-4/5" 
            (keypress)="verifyInput($event)"
            appShowError
            [control]="form.get('height')"
          />
        </div>
      </div>

      <div class="grid grid-cols-1 gap-3">
        <span class="bg-blue-900 w-full p-2 font-bold uppercase text-white cursor-pointer text-left">Calorias: {{calorie}}</span>
      </div>

    </div>

  </form>

</section>
